{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,400;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}?{% now "U" %}">
    
    <title>Strona głowna</title>
</head>
<body>
    {{form.errors}}
        <div class="square login">
            <span>Zaloguj</span>
            <form action="." method="POST">
                {% csrf_token %}
                {% render_field form.username class="login-input field-email" placeholder='Dane do logowania' %}
                {% render_field form.password class="login-input field-password" placeholder='Hasło' %}
                <input type="submit" class="btn-login"value="Zaloguj">
            </form>
        </div>
        {}
        <div class="square contact">
            <span>Kontakt</span>
            <p>Administrator: <span class="first_name">Bartłomiej Swatek</span></p>
            <p>Email: <span class="email">bartek.swatek@wp.pl</span></p>
        </div>

        <div class="square about_us">
            <p class="about_us-btn-text">O nas</p>
            <p class="about_us-text">Jesteśmy firmą zajmującą się naprawą sprzętu komputerowego
            W celu zgłoszenia zlecenia skontaktuj sie z administratorem.
            Informacje na ten temat znajdziesz w zakładce KONTAKT</p>
        </div>
    <!-- </div> -->



</body>
</html>