{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/@tabler/icons@latest/iconfont/tabler-icons.min.css">
    <link rel="stylesheet" href="{% static 'ServicePageCSS/MainPageCSS.css' %}?{% now "U" %}">
    <title>Serwis - Strona głowna</title>
</head>
<body>
    <nav class="nav-top">
        <h1>serviceMyPC<i class="ti ti-devices-pc"></i></h1>
        <a href="{% url 'Web_Computer_Service:logout' %}" class="btn-logout">Wyloguj się</a>
    </nav>
    <nav class="nav-left">
        <ul>
            <li>
                <div class="nav-btn">
                    <a href="{% url 'Web_Computer_Service:service' %}" title="Przejdź do strony głownej"<p><i class="ti ti-home-2"></i></p></a>
            <li>
                {% if not user.is_customer %}
                <div class="nav-btn btn-user">
                    <p><i class="ti ti-user-circle"></i></p>
                    <p class="nav-text">Zarządzanie użytkownikami</p>
                    <ul class="nav-btn-list">
                        {% if user.is_superuser%}
                        <li><a href="{% url 'Web_Computer_Service:create_employee' %}" class="">Utwórz konto pracownika</a></li>
                        {% endif %}
                        {% if not user.is_superuser%}
                        <li><a href="{% url 'Web_Computer_Service:create_customer' %}" class="">Utwórz konto klienta</a></li>
                        {% endif %}
                        {% if user.is_superuser%}
                        <li><a href="{% url 'Web_Computer_Service:edit_employee' %}" class="">Lista pracowników</a></li>
                        {% endif %}
                        <li><a href="{% url 'Web_Computer_Service:customer_list' %}" class="">Lista klientów</a></li>
                    </ul>
                </div>
                {% endif %}
            </li>
            <li>
                {% if not user.is_superuser%}
                <div class="nav-btn btn-order">
                    <p><i class="ti ti-box"></i></p>
                    <p class="nav-text">Zarządzanie zleceniami</p>
                    <ul class="nav-btn-list">
                        {% if not user.is_customer %}
                        {% if user.is_employee %}
                        <li><a href="{% url 'Web_Computer_Service:create_order' %}" class="">Utwórz zlecenie</a></li>
                        <li><a href="{% url 'Web_Computer_Service:order_list' %}" class="">Lista zleceń</a></li>
                        {% endif %}
                        {% endif %}
                        <li><a href="{% url 'Web_Computer_Service:order_information' %}" class="">Informacje o zleceniu</a></li>
                    </ul>
                </div>
                {% endif %}
            </li>
        </ul>
    </nav>
    
    <main>
            <!-- <p>Wybierz funkcje z panelu nawiagacyjnego</p> -->
            {% block content %}
            {% if messages %}
            {% for message in messages %}
            <div class="messages-and-errors type-{{message.tags}}">
                    {{ message }}

            </div>
            {% endfor %}
            {% endif %}
            {% endblock %}
    </main>
</body>
</html>