{% extends "service.html" %}
{% load widget_tweaks %}


{% block title %}Utwórz konto pracownika{% endblock %}

{% block content %}

<div class="creator">
    <h3>Kreator zakładania konta dla pracownika</h3>

    <form method="POST" enctype="multipart/form-data" class="form-employee">
        {% csrf_token %}
        
        <div class="form-area">
            {% render_field form.employee_account_number class="form-field" placeholder="Numer pracownika" type="number" %}
        </div>
        <div class="form-area">
            {% render_field form.username class="form-field" placeholder="Nazwa użytkownika" type="char" %}
        </div>
        <div class="form-area">
            {% render_field form.password1 class="form-field" placeholder="Potwierdź hasło" type="password" %}
        </div>
        <div class="form-area">
            {% render_field form.password2 class="form-field" placeholder="Potwierdź hasło" type="password" %}
        </div>
        <button type="submit" class="btn-create-account">Utwórz konto</button>
    </form>
</div>

<div class="form-errors">
    {{form.errors}}
</div>

{% endblock %}

