{% extends "service.html" %}
{% load widget_tweaks %}


{% block title %}Utwórz konto pracownika{% endblock %}

{% block content %}

    <h3 class="page-function-title">Dodaj opis do zamówienia</h3>
    <div class="content wrapper">

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-area">
                {% render_field form.description class="form-field" placeholder="Wprowadź opis" type="char" %}
                <p class="confirmation">{{confirmation}}</p>
                <p>Prosze o podanie dokładnego opisu zlecenia.</p>
                <p>Zaleca się wyszczególnienie ważnych informacji przekazanych od klienta.</p>
            </div>
        <button type="submit" class="btn-custom">Zatwierdź</button>
    </form>
    <a href="{% url 'Web_Computer_Service:order_management' order.id %}" class="btn-custom">Wróć do edycji zlecenia</a>
    </div>
    <div class="messages-and-errors">
        {{form.errors}}
    </div>

{% endblock %}

