{% extends "service.html" %}
{% load widget_tweaks %}


{% block title %}Edytuj konto pracownika{% endblock %}

{% block content %}
<h3 class="page-function-title">Edycja kont pracowników</h3>
<div class="content wrapper">
    <div class="edit-employee">
        <div class="employee-object">
            <table class="employee-table">
                <tr class="table-title">
                    <th>Numer konta</th>
                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    
                </tr>
                    {% for element in data %}
                    <tr class="table-data">
                        <th>{{element.id}}</th>
                        <th>{{element.first_name}}</th>
                        <th>{{element.last_name}}</th>
                        <th>{{element.email}}</th>
                        <th class="flex-btn-containter">
                            <a href="{% url 'Web_Computer_Service:edit_employee_object' element.id %}" class="flex-btn edit-btn"><i class="ti ti-edit"></i></a>
                            <a href="{% url 'Web_Computer_Service:delete_employee_ask' element.id %}" class="flex-btn delete-btn"><i class="ti ti-x"></i></a>
                        </th>
                    </tr>
                    {% endfor %}
    
            </table>
    
            
        </div>
    </div>
</div>
<div class="edit-employee">
    <div class="employee-object">
        <table class="employee-table">
            <tr class="table-title">
                <th>Numer konta</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Email</th>
                
            </tr>
                {% for element in data %}
                <tr class="table-data">
                    <th>{{element.employee_account_number}}</th>
                    <th>{{element.first_name}}</th>
                    <th>{{element.last_name}}</th>
                    <th>{{element.email}}</th>
                    <th class="flex-btn-containter">
                        <a href="{% url 'Web_Computer_Service:edit_employee_object' element.id %}" class="flex-btn edit-btn"><i class="ti ti-edit"></i></a>
                        <a href="{% url 'Web_Computer_Service:delete_employee_ask' element.id %}" class="flex-btn delete-btn"><i class="ti ti-x"></i></a>
                    </th>
                </tr>
                {% endfor %}

        </table>

        
    </div>
</div>


{% endblock %}
