* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {


    background-image: url("https://i.ibb.co/rMQ4bZx/network-g39a576dfe-1920.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.square {
    
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    

    width: 160px;
    height: 60px;
    overflow: hidden;

    background-color: rgb(0, 0, 0);
    border: 3px solid black;
    border-radius: 15px;
    color: white;

    line-height: 55px;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    /* transition: width 0.3s, height 0.3s, background-color 0.3s; */
}

.square:hover {
    width: 220px;
    height: 90px;

    background-color: rgba(0, 0, 0, 0.562);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);

    line-height: 90px;
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
}
/* -------------------------- LOGIN FIELDS IN DIV  --------------------------*/
.login {
    top: 15%;
    transition: height 1s, width 0.5s, background-color 0.3s;
}
.login:hover {
    width: 30vw;
    height: 500px;
    cursor: auto;
}

.login:hover ~ .contact {
    left: 10%;
}
.login:hover ~ .about_us {
    left: 90%;
    
}

.login-input {
    position: absolute;
    visibility: hidden;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;

    width: 50%;
    min-width: 200px;
    height: 40px;

    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    text-align: center;
    outline: none;
}
.login:hover .field-email {
    top: 150px;
    visibility: visible;

}
.login:hover .field-password {
    top: 250px;
    visibility: visible;
}
::placeholder {
    color: white;
}

.btn-login {
    position: absolute;
    transform: translateX(-50%);
    top: 350px;

    width: 200px;
    height: 40px;

    border: 3px solid white;
    border-radius: 25px;
    visibility: hidden;
    cursor: pointer;

    font-size: 20px;
    transition: width 0.5s;
}
.btn-login:hover {
    width: 240px;
}
.login:hover .btn-login {
    visibility: visible;
}
/* -------------------------- CONTACT  DIV  --------------------------*/
.contact {
    top: 50%;
    transition: top 2s, left 1s, height 0.5s, width 0.5s, background-color 0.3s, line-height 0.7s;
}
.contact:hover {
    height: 150px;
    width: 450px;
}
.contact:hover ~ .about_us {
    left: 10%;
}

.contact > p {
    font-size: 0;
}

.contact:hover > p {

    top: 20px;
    line-height: 20px;
    font-size: 15px;
}

/* -------------------------- ABOUT US DIV  --------------------------*/
.about_us {
    bottom: 10%;
    transition: height 0.3s, width 0.3s, left 1s, font-size 0.5s;

}

.about_us:hover {
    height: 150px;
    width: 800px;
}
 .about_us .about_us-text {
    font-size: 0px;
}
.about_us:hover > .about_us-text {

    bottom: 20px;
    line-height: 20px;
    font-size: 15px;
}
/* ----------- INSTANT FINISH TRANSITION ----------- */
/* .about_us > .about_us-text {
    transition: 0s;
} */