* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(34, 34, 34);
}

.center-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 400px;
    transform: translate(-50%, -50%);

    background-color: gold;
    border-radius: 25px;
}

.btn {
    
    position: absolute;
    display: block;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 20px 60px; */
    width: 200px;
    height: 80px;

    background-color: black;
    border: 3px solid black;
    border-radius: 15px;
    color: white;

    font-family: 'Chakra Petch', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    transition: width 0.3s, height 0.3s, background-color 0.3s;
}

.btn:hover {
    width: 220px;
    height: 90px;

    background-color: transparent;
    color: black;

    font-weight: bold;
    font-size: 28px;
    text-decoration: underline;
    cursor: pointer;
}
.login {
    top: 20%;
}
.contact {
    top: 50%;
}
.about_us {
    top: 80%;
}