* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    /* background-image: url("https://i.ibb.co/rMQ4bZx/network-g39a576dfe-1920.jpg"); */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

html, body{
    max-width: 100%;
    overflow: hidden;
}

::placeholder {
    color: rgb(165, 165, 165);
}
/* -----------------NAVIGATION----------------- */

.nav-top  {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px black;
}

.nav-top h1 {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 2px;
    font-size: 33px;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
}
.nav-top h2 i {
   margin-left: 10px; 
}
.nav-top .btn-logout{
    position: absolute;
    top: 50%;
    right: 20px;
    padding: 7px 15px;
    transform: translateY(-50%);

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;

    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
.nav-left {
    position: relative;
    height: 100vh;
    width: 65px;

    background-color: rgb(36, 36, 36);
}

.nav-left .ti {
    position: absolute;
    left: 10px;
    line-height: 60px;
    
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 35px;
}

/* -----------------NAV LEFT USER BUTTON----------------- */
.nav-left .nav-text {
    position: absolute;
    left: 65px;
    top: 17px;
    
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-btn {
    position: relative;
    top: 20px;
    width: 90%;
    height: 60px;
    margin-left: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: black;
    border-radius: 15px;

    transition: 0.5s;
}
.nav-btn-list{
    position: absolute;
    top: 65px;
    left: 20px;
    color: white;
    padding: 10px 0;

    list-style-type: none;
}

.nav-btn-list a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.btn-user a:hover {
    color: yellowgreen;
}

.btn-user:hover {
    width: 250px;
    height: 180px;
}

/* -----------------NAV LEFT ORDER BUTTON----------------- */
.btn-order a:hover {
    color: yellowgreen;
}

.btn-order:hover {
    width: 250px;
    height: 150px;
}

/* -----------------CONTENT----------------- */

.content {
    position: absolute;
    top: 80px;
    left: 150px;
    width: 80%;
    height: 90vh;
    /* background-color: rgba(92, 129, 238, 0.082); */
    border-radius: 20px;
}


.messages {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 350px;
    border-radius: 25px;

    text-align: center;
    line-height: 40px;
}

.type-success {
    background-color: rgba(37, 201, 37, 0.788);
}
.type-info {
    background-color: goldenrod
}
/* -----------------CREATING ACCOUNT COMPLETE----------------- */


.account-create-complete {
    position: absolute;
    left: 50%;
    top: 50px;

    transform: translateX(-50%);
}

.account-create-complete h2 {
    margin-bottom: 20px;
}
.account-create-complete h3 {
    margin-bottom: 40px;
}
.account-create-complete p {
    padding: 20px;
}

.account-create-complete span {
    font-weight: bold;
}

/* -----------------CREATING ACCOUNT FORM----------------- */


.creator h3 {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%, -50%);
}
.form-employee {
    position: absolute;
    top: 330px;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
}

.form-employee td {
    padding: 20px;
}

.form-field {
    padding: 20px;
    margin: 20px 0;
    height: 50px;
    width: 250px;
    background-color: #353333;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
}

.btn-create-account {
    margin-top: 40px;
    padding: 10px 30px;


    background-color: rgb(126, 126, 126);
    text-transform: uppercase;
    border-radius: 15px;
    border: none;

    font-weight: bold;
    transition: background-color 0.5s;
}

.btn-create-account:hover {
    background-color: rgb(90, 197, 19);
}

.form-errors {
    position: absolute;
    top: 100px;
    left: 700px;
}

.phone-field-ext { display: none; }

#id_phone_1 {
    display: none;
}

/* -----------------FORMATING PASSWORD----------------- */

.password {
    display: none;
}

.generated-password {
    margin-top: 40px;
}
/* -----------------EDIT EMPLOYEE PAGE----------------- */

.edit-employee {
    height: 80%;
    width: 800px;
    margin: 100px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    color: black;
    overflow: auto;
}

.content h3 {
    padding: 20px;
    text-align: center;
}
.employee-object {
    margin-top: 40px;
}

.flex-btn {
    padding: 10px;

    color: black;
    text-decoration: none;
    border-radius: 8px;

    font-size: 17px;
}

.employee-object .edit-btn {
    margin-right: 5px;
    margin-left: 20px;
    background-color: rgb(20, 94, 255);
}
.employee-object .delete-btn {
    
    background-color: red;
}

.employee-table {
    margin: 0 auto;
    border-collapse: collapse;
}

.table-title th{
    padding: 0px 40px 40px;
    text-transform: uppercase;
}


.table-data th {
    padding: 10px 0;
    font-weight: 400;
}

.table-data {
    border-bottom: 1px solid black;
}

.flex-btn-containter {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}


/* -----------------DELETE EMPLOYEE PAGE----------------- */

.delete_confirmation {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.delete-a-btn {
    margin: 40px;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
}

.delete-accept {
    background-color: green;
}
.delete-cancel {
    background-color: red;
}