* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    /* background-image: url("https://i.ibb.co/rMQ4bZx/network-g39a576dfe-1920.jpg"); */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

html, body{
    height: 100vh;
    overflow: hidden;
}

::placeholder {
    color: rgb(165, 165, 165);
}
/* -----------------NAVIGATION----------------- */

.nav-top  {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px black;
}

.wrapper {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.nav-top h1 {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 2px;
    font-size: 33px;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
}
.nav-top h2 i {
   margin-left: 10px; 
}
.nav-top .btn-logout{
    position: absolute;
    top: 50%;
    right: 20px;
    padding: 7px 15px;
    transform: translateY(-50%);

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;

    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
.nav-left {
    position: relative;
    top: 50px;
    height: 100vh;
    width: 65px;

    background-color: rgb(36, 36, 36);
}

.nav-left .ti {
    position: absolute;
    left: 10px;
    line-height: 60px;
    
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 35px;
}

.page-function-title {
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translate(-50%, -50%);
    color: white;
}
/* -----------------NAV LEFT USER BUTTON----------------- */
.nav-left .nav-text {
    position: absolute;
    left: 65px;
    top: 17px;
    
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-btn {
    position: relative;
    top: 60px;
    width: 90%;
    height: 60px;
    margin-left: 5px;
    margin-bottom: 20px;

    background-color: black;
    border-radius: 15px;
    
    overflow: hidden;
    z-index: 10;
    transition: 0.5s;
}
.nav-btn-list{
    position: absolute;
    top: 65px;
    left: 20px;
    color: white;
    padding: 10px 0;

    list-style-type: none;
}

.nav-btn-list a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.btn-user a:hover {
    color: yellowgreen;
}

.btn-user:hover {
    width: 250px;
    height: 180px;
}

/* -----------------NAV LEFT ORDER BUTTON----------------- */
.btn-order a:hover {
    color: yellowgreen;
}

.btn-order:hover {
    width: 250px;
    height: 150px;
}

/* -----------------CONTENT----------------- */

.content {
    position: absolute;
    top: 50px;
    /* bottom: 20px; */
    left: 50%;
    width: 80%;
    height: calc(100vh - 50px);
    border-radius: 20px;
    transform: translateX(-50%);
    overflow: auto;
}


.messages-and-errors {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 350px;
    border-radius: 25px;

    text-align: center;
    line-height: 40px;
}

.type-success {
    background-color: rgba(37, 201, 37, 0.788);
}
.type-error {
    background-color: red;
    width: 700px;
}
.type-info {
    background-color: goldenrod
}

.confirmation {
    margin-left: 20px;
    margin-bottom: 30px;
    color: rgb(78, 139, 16);
    font-weight: bold;
}
.error {
    margin-bottom: 10px;
}
.errorlist {
    list-style: none;
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}
/* -----------------CREATING ACCOUNT COMPLETE----------------- */


.account-create-complete {
    position: absolute;
    left: 50%;
    top: 100px;

    transform: translateX(-50%);
}

.account-create-complete h2 {
    margin-bottom: 20px;
}
.account-create-complete h3 {
    margin-bottom: 40px;
}
.account-create-complete p {
    padding: 20px;
}

.account-create-complete span {
    font-weight: bold;
}

/* -----------------CREATING ACCOUNT FORM----------------- */
.form-employee {
    position: absolute;
    top: 5%;
    margin-left: 10%;
}
.form-employee td {
    padding: 20px;
}
.form-employee .error {
    margin-left: 12px;
    color: red;
    font-weight: bold;
    font-size: 13.5px;
}
.form-area{
    margin-top: 30px;
}
.form-area p {
    margin-left: 20px;
    font-size: 13.5px;
}
.form-employee hr {
    margin-top: 5px;
}
.names {
    display: flex;
    flex-direction: row;
}

.form-field {
    padding: 0 20px;
    margin: 20px 10px;
    height: 50px;
    width: 250px;
    background-color: #0c0c0c;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
}
.form-employee h3 {
    margin-bottom: 5px;
    margin-top: 20px;
}

.form-employee p {
    font-size: 13.5px;
}
.personal-data {
    margin-top: 40px;
}
.btn-custom {
    margin: 40px;
    padding: 10px 30px;
    
    font-size: 14px;
    background-color: rgb(126, 126, 126);
    color: black;
    text-transform: uppercase;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.5s;
}


.btn-custom:hover {
    background-color: rgb(90, 197, 19);
}

.change:hover {
background-color: rgb(255, 123, 0);
}

.delete:hover {
background-color: rgb(255, 0, 0);
}
.form-errors {
    position: absolute;
    top: 100px;
    left: 700px;
}

.phone-field-ext { display: none; }

#id_phone_1 {
    display: none;
}

/* -----------------FORMATING PASSWORD----------------- */

.password {
    display: none;
}

.generated-password {
    margin-top: 40px;
}
/* -----------------EDIT EMPLOYEE LIST----------------- */

.edit-employee {
    height: 80%;
    width: 800px;
    margin: 100px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    color: black;
    overflow: auto;
}

.employee-object {
    margin-top: 40px;
}

.flex-btn {
    padding: 10px;

    color: black;
    text-decoration: none;
    border-radius: 8px;

    font-size: 17px;
}

.employee-object .edit-btn {
    margin-right: 5px;
    margin-left: 20px;
    background-color: rgb(20, 94, 255);
}
.employee-object .delete-btn {
    
    background-color: red;
}

.employee-table {
    margin: 0 auto;
    border-collapse: collapse;
}

.table-title th{
    padding: 0px 40px 40px;
    text-transform: uppercase;
}


.table-data th {
    padding: 10px 0;
    font-weight: 400;
}

.table-data {
    border-bottom: 1px solid black;
}

.flex-btn-containter {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}


/* -----------------DELETE EMPLOYEE PAGE----------------- */

.ask {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 600px;
    height: 400px;
    transform: translate(-50%, -50%);
}
.ask h3 {
    text-align: center;
}
.delete-a-btn {
    position: absolute;
    top: 30%;
    margin: 40px;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transform: translate(-50%, -50%);

}

.delete-accept {
    background-color: green;
    left: 20%;
}
.delete-cancel {
    background-color: red;
    left: 70%;
}


/* -----------------CREATE ORDER PAGE----------------- */


.content .text-area{
    width: 300px;
    height: 150px;
}

/* -----------------ORDER MANAGEMENT----------------- */

.order-management-block{
    position: relative;
    margin-top: 30px;
    height: 90%;
    width: 100%;
    border: solid 2px black;
    border-radius: 15px;
    background-color: black;
    overflow: hidden;
}

.order-management-block-bg{
    position: absolute;
    bottom: 0;
    height: calc(100% - 20px);
    width: 100%;
    background-color: white;
}
.order-block {
    text-align: center;
    color: white;
}

.title {
    line-height: 20px;
}

.data-title {
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}

/* -------------- SMALL WINDOWS INSIDE ORDER MANAGEMENT BLOCK------------- */
.window {
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    overflow: hidden;
}

.customer-data{
    top: 5%;
    left: 5%;
    width: 250px;
    height: 130px;
    font-weight: bold;
}

.order-data{
    top: 5%;
    left: 30%;
    width: 350px;
    height: 130px;

}

.device-data{
    top: 30%;
    left: 5%;
    width: 650px;
    height: 370px;
}
.order-data-bg{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 25px);
    background-color: white;
    color: black;
    padding-top: 20px;
}

.order-data-bg span {
    font-weight: bold;
}

.description{
    padding-top: 20px;
}

.description-data{
    top: 5%;
    left: 62%;
    width: 400px;
    height: 130px;
}
.button-list {
    position: absolute;
    top: 40%;
    left: 63%;
}
.button-list li{
    padding: 20px;
    text-align: center;
    list-style-type: none;
}